<div class="container">
  <div class="row">
    <div class="col-7 px-sm-0 mt-4">
      <span class="bg-light px-2 ml-5">
        マイページ
      </span>
      <div class="mt-3">
        <strong>登録情報</strong>
        <%= link_to "編集する", customers_information_edit_path, class: "btn btn-sm btn-success ml-3" %>
      </div>
      
      <div class="row">
        <table class="table table-bordered mt-3">
          <tr>
            <th class="col-4 bg-light">氏名</th>
            <td class="col-8"><%= @customer.last_name %>　<%= @customer.first_name %></td>
          </tr>
  
          <tr>
            <th class="bg-light">カナ</th>
            <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
          </tr>
  
          <tr>
            <th class="bg-light">郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
  
          <tr>
            <th class="bg-light">住所</th>
            <td><%= @customer.address %></td>
          </tr>
  
          <tr>
            <th class="bg-light">電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
  
          <tr>
            <th class="bg-light"> メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </table>
      </div>

      <div class="mt-5">
        <strong>注文履歴</strong>
        <%= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-primary ml-3" %>
      </div>
    </div>
  </div>
</div>