<div class="container">
  <div class="row justify-content-center">
    <div class="col-7 mt-3 ">
      <span class="bg-light px-2">
        <strong>商品編集</strong>
      </span>
    </div>
  </div>
  
  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
    <div class="field mt-5">
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.label :商品画像%>
        </div>
        <div class="col-3">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
    </div>
  
    <div class="field mt-3">
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.label :商品名 %>
        </div>
        <div class="col-3">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </div>
    </div>

    <div class="field mt-3">
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.label :商品説明 %>
        </div>
        <div class="col-3">
          <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
        </div>
      </div>
    </div>

     <div class="field mt-3">
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.label :税抜価格 %>
        </div>
        <div class="col-3">
          <%= f.text_field :price, autofocus: true, autocomplete: "price" %>円
        </div>
      </div>
    </div>
    
    <div class="actions mt-3 ml-5">
      <div class="row justify-content-center">
        <%= f.submit "変更を保存", class: "btn btn- btn-success mt-5 ml-5" %>
      </div>
    </div>
  <% end %>
</div>