<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-3 mb-3">
        <span class="bg-light ml-5 px-2 mr-5">
          <strong>商品一覧</strong>
        </span>
	      <%= link_to new_admin_item_path, class: " mt-5 ml-5 " do %>
	        <i class="fa-solid fa-circle-plus float-right"></i>
	      <% end %>
      </div>

      <table class= "table">
        <thead class="bg-light" >
          <tr><th>商品ID</th><th>商品名</th><th>税抜価格</th></tr>
        </thead>
        <tbody>
          <% @items.each do |items| %>
            <tr>
              <td class="col-1">
                <%= items.id %>
              </td>

              <td class="col-3">
                <%= link_to admin_item_path(items.id) do %>
                <%= items.name %>
                <% end %>
              </td>

              <td class="col-4">
                <%= (items.price).to_s(:delimited) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
     <%= paginate @items %>
  </div>
</div>