<div class="container">
  <div class="mt-5 ">
    <span class="bg-light ml-5 px-2">
      <strong>商品新規登録</strong>
    </span>
  </div>

  <div class="row">
    <div class="col-2 mt-5">
      <%= form_with model: @item do |f| %>
        <div class="field mt-3">
          <%= f.label :商品画像%>
        </div>
        <div class="field mt-3">
          <%= f.label :商品名 %>
        </div>
        <div class="field mt-3">
          <%= f.label :商品説明 %>
        </div>
        <div class="field mt-3">
          <%= f.label :税抜価格 %>
        </div>
      <% end %>
    </div>

    <div class="col-10 mt-5">
      <%= form_with model: @item, url: admin_items_path do |f| %>
        <div class="field mt-3">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="field mt-3">
          <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
        </div>
        <div class="field mt-3">
          <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction", class: " form-control-lg" %>
        </div>
        <div class="field mt-3">
          <%= f.text_field :price, autofocus: true, autocomplete: "price" %>円
        </div>

        <div class="actions mt-3 ml-5">
          <%= f.submit "新規登録", class: "btn btn- btn-success mt-5 ml-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>