<div class="container">
  <div class="mt-3 mb-3">
    <span class="bg-light ml-5 px-1">
      <strong>商品詳細</strong>
    </span>
  </div>
  <div class="row">

    <div class="col-4  px-5 px-sm-0 mt-5">
      <div>
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "300x200" %>
        <% else %>
           <%= image_tag 'no_image', size: "300x200" %>
        <% end %>
      </div>
    </div>

    <div class="col-3 mt-5 ">
      <div class="mt-3">
        商品名
      </div>
      <div class="mt-3">
        商品説明
      </div>
      <div class="mt-5">
        税込価格
        （税抜き価格）
      </div>
    </div>

    <div class="col-5 mt-5">
      <div class="mt-3">
        <%= @item.name %>
      </div>
      <div class="mt-3">
        <%= @item.introduction %>
      </div>
      <div class="mt-5">
        <%= (@item.price*1.1).floor %> (<%= @item.price %>)円
      </div>
      <div class="mt-5 mr-5">
        <%= link_to "編集する",  edit_admin_item_path, class: "btn btn-lg btn-success mr-５" %>
      </div>
    </div>
  </div>
</div>