<div class="container">
  <div class="mt-3 mb-3">
    <span class="bg-light ml-5 px-1">
      <strong><%= @customer.last_name %> <%= @customer.first_name %></strong>さんの会員詳細
    </span>
  </div>
  <div class="row">
    <div class="col-2 mt-5">
      <div class="mt-3">
        会員ID
      </div>
      <div class="mt-3">
        氏名
      </div>
      <div class="mt-3">
        フリガナ
      </div>
      <div class="mt-3">
        郵便番号
      </div>
      <div class="mt-3">
        住所
      </div>
      <div class="mt-3">
        電話番号
      </div>
      <div class="mt-3">
        メールアドレス
      </div>
      <div class="mt-3">
        会員ステータス
      </div>
    </div>

    <div class="col-10 mt-5">
      <div class="mt-3">
        <%= @customer.id %>
      </div>
      <div class="mt-3">
        <%= @customer.last_name %> <%= @customer.first_name %>
      </div>
      <div class="mt-3">
        <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
      </div>
      <div class="mt-3">
        <%= @customer.postal_code %>
      </div>
      <div class="mt-3">
        <%= @customer.address %>
      </div>
      <div class="mt-3">
        <%= @customer.telephone_number %>
      </div>
      <div class="mt-3">
        <%= @customer.email %>
      </div>
      <div class="mt-3">
        <% if @customer.is_deleted %>
           無効
        <% else %>
          <div class="text-success">
            有効
          </div>
        <% end %>
      </div>

      <div class="mt-3">
        <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-sm btn-success" %>
        <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn  btn-sm btn-primary ml-5" %>
      </div>
    </div>
  </div>
</div>
