<div class="container">
  <div class="mt-5 mb-3">
    <span class="bg-light ml-5 px-1">
      <strong>注文情報確認</strong>
    </span>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <th class="col-6">商品名</th>
              <th class="col-2">単価（税込）</th>
              <th class="col-2">数量</th>
              <th class="col-2">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <% if cart_item.item.image.attached? %>
                    <%= image_tag cart_item.item.image, size: "60x30" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "60x30" %>
                  <% end %>
                  <%= cart_item.item.name %>
                </td>
                <td>
                  <%= ((cart_item.item.price*1.1).floor).to_s(:delimited) %>
                </td>
                <td>
                  <%= cart_item.amount %>
                </td>
                <td>
                  <%= ((cart_item.item.price*1.1).floor*cart_item.amount).to_s(:delimited) %>
                </td>
              </tr>
              <% @total = @total+(cart_item.item.price*1.1).floor*cart_item.amount %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <table class="table table-bordered ml-5">
          <tbody>
            <tr>
              <th class="col-6 bg-light">送料</th>
              <td class="col-6"><%= @postage.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th class="col-6 bg-light">商品合計</th>
              <td class="col-6"><%= @total.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th class="col-6 bg-light">請求金額</th>
              <td class="col-6"><%= (@total+@postage).to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1 mt-3">
      <div class="mt-3">
        <strong>支払方法</strong>
      </div>
      <div class="mt-5">
        <strong>お届け先</strong>
      </div>
    </div>
    <div class="col-11 mt-3">
      <div class="mt-3">
        <%= @order.payment_method_i18n %>
      </div>
      <div class="mt-5">
        <% name = current_customer.last_name + current_customer.first_name %>
        〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
        <%= name %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="mt-5">
      <%= form_with model: @order, url: orders_path do |f| %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.hidden_field :postal_code, :value => current_customer.postal_code %>
        <%= f.hidden_field :address, :value => current_customer.address %>
        <%= f.hidden_field :name, :value => name %>
        <%= f.hidden_field :amounts_billed, :value => @total+@postage %>
        <%= f.hidden_field :postage, :value => @postage %>
        <%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>
