<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <p>
        <strong>ログイン</strong>
      </p>
      
      <p>
        <strong>会員</strong>の<strong>方</strong>はこちらからログイン
      </p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %> <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
  
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
      
      <p>
        <strong>会員登録</strong>がお<strong>済</strong>みでない<strong>方</strong>
      </p>
      
      <div>
        <%= link_to new_customer_registration_path do %>
        こちら
        <% end %>
        から新規登録を行ってください。
      </div>
    </div>
  </div>
</div>